<ion-header>
  <ion-navbar align-title="center">
    <ion-title>
      <img height="40" src="assets/imgs/logo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item-divider color="light" style="margin-bottom: 1%">
    <h1><b>Wardrobe</b></h1>
  </ion-item-divider>

  <ion-list>

    <div *ngFor="let g of [[garmentsT, 'Tops'], [garmentsB, 'Bottoms'], [garmentsS, 'Shoes']]">

      <div>
        <ion-item-divider>
          <p>{{g[1]}}</p>
        </ion-item-divider>
      </div>

      <ion-slides padding slidesPerView="2">
        <ion-slide *ngFor="let garment of g[0] | async">

          <ion-grid no-padding>
            <ion-row>
              <ion-col>
                <img src={{garment.imageURL}} style="height:100px;" (click)="pushDisplayOutfit(garment)"/>
              </ion-col>
            </ion-row>

            <ion-row>
              <p style="font-size: x-small">{{garment.name}}</p>
            </ion-row>

            <ion-row>
              <ion-col>
                <button ion-button block (click)="pushDisplayOutfit(garment)">Make Outfit</button>
              </ion-col>

              <ion-col>
                <button ion-button color="danger" (click)="removeGarment(garment)">
                  <ion-icon name='trash'></ion-icon>
                </button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>

  </ion-list>

</ion-content>
