<!--
  Generated template for the OutfitDisplayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar align-title="center">
    <ion-title>
      <img height="40" src="assets/imgs/logo.png"/>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-title>Here's your outfit!</ion-title>

  <ion-grid text-center>
    <ion-row>
        <ion-col col-auto>
            <p>{{ this.top.name }}</p>
        </ion-col>
          </ion-row>
      <ion-row>
          <ion-col col-auto *ngIf="this.garment.type != 'Top'">
              <button ion-button (click)="previousTop()" style="height: 100%"><ion-icon name="arrow-back"></ion-icon></button>
          </ion-col>
          <ion-col col-auto>
              <img src={{this.top.imageURL}} />
          </ion-col>
          <ion-col col-auto *ngIf="this.garment.type != 'Top'">
              <button ion-button (click)="nextTop()" style="height: 100%"><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
      </ion-row>

          <ion-row>
              <ion-col col-auto>
                  <p>{{ this.bottom.name }}</p>
              </ion-col>
              </ion-row>

      <ion-row>
          <ion-col col-auto *ngIf="this.garment.type != 'Bottom'">
              <button ion-button (click)="previousBottom()" style="height: 100%"><ion-icon name="arrow-back"></ion-icon></button>
          </ion-col>
          <ion-col col-auto>
              <img src={{this.bottom.imageURL}} />
          </ion-col>
          <ion-col col-auto *ngIf="this.garment.type != 'Bottom'">
              <button ion-button (click)="nextBottom()" style="height: 100%"><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
      </ion-row>

          <ion-row>
              <ion-col col-auto>
                  <p>{{ this.shoe.name }}</p>
              </ion-col>
          </ion-row>


          <ion-row>
          <ion-col  col-auto *ngIf="this.garment.type != 'Shoe'">
              <button ion-button (click)="previousShoe()" style="height: 100%"><ion-icon name="arrow-back"></ion-icon></button>
          </ion-col>
          <ion-col col-auto>
              <img src={{this.shoe.imageURL}} />
          </ion-col>
          <ion-col col-auto *ngIf="this.garment.type != 'Shoe'">
              <button ion-button (click)="nextShoe()" style="height: 100%"><ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
