<!--
  Generated template for the AddItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <img height="40" src="assets/imgs/logo.png"/>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-title>Add to Wardrobe</ion-title>

  <div class="content">
    <div>
      <ion-item>
        <div *ngIf="base64Image">
          <img [src]="'data:image/jpeg;base64,' + base64Image"/>
          <button ion-button (click)="takePicture()" block large>Retake Picture</button>
        </div>

        <div *ngIf="!base64Image">
          <button ion-button (click)="takePicture()" block large>Take Picture</button>
        </div>

      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Clothing Name</ion-label>
        <ion-input [(ngModel)]="garment.name" placeholder="My Favorite Shirt"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Type</ion-label>
        <ion-select [(ngModel)]="garment.type" placeholder="Choose Type">
          <ion-option value="Top">Top</ion-option>
          <ion-option value="Bottom">Bottom</ion-option>
          <ion-option value="Shoe">Shoe</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Color</ion-label>
        <ion-select [(ngModel)]="garment.color" placeholder="Choose Color">
          <ion-option value="beige">Beige</ion-option>
          <ion-option value="black">Black</ion-option>
          <ion-option value="brown">Brown</ion-option>
          <ion-option value="dark blue">Dark Blue</ion-option>
          <ion-option value="green">Green</ion-option>
          <ion-option value="grey">Grey</ion-option>
          <ion-option value="light blue">Light Blue</ion-option>
          <ion-option value="orange">Orange</ion-option>
          <ion-option value="pink">Pink</ion-option>
          <ion-option value="purple">Purple</ion-option>
          <ion-option value="red">Red</ion-option>
          <ion-option value="white">White</ion-option>
          <ion-option value="yellow">Yellow</ion-option>
        </ion-select>
      </ion-item>

    </div>
    <div padding>
      <button ion-button (click)="saveClothing()" block large>Save Item</button>
    </div>

  </div>
</ion-content>
